@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* margin-left: 100%;
  margin-right: 100%; */
  background-color: #2e3440;
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  margin-top: 10px;
  font-size: 40px;
  color: #88C0D0
  ;
}

p {
  color: #8FBCBB
}

#conteiner {
  width: 80vw;
  max-width: 700px;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #3B4252;
  box-shadow: 0 5px 5px 5px rgba(15, 15, 15, 0.065);
  position: relative;
  border-radius:10px;
}

#lista-content {
  min-height: 60vh;
  max-height: 60vh;
  background-color: #ECEFF4;
  overflow: auto; /* scroll bar na lista se for maior que o limite */
  overflow-wrap: break-word; /* Quebra linha se ficar muito grande https://css-tricks.com/almanac/properties/o/overflow-wrap/ */

}

li {
  text-align: left;
  padding: 0 10px;
  list-style-position: inside;
  background-color: #e5e9f0;
  font-size: 20px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
}

li:nth-child(2n + 1) {
  background-color: #d8dee9;
}

#buttons-content button {
  display: inline-block;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 35px 5px;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.7);
}

#criar-tarefa {
  background-color: #5e81ac;
}
#apaga-tudo {
  background-color: #bf616a;
}
#remover-finalizados {
  background-color: #d08770;
}
#remover-selecionado {
  background-color: #EBCB8B;
}
#salvar-tarefas {
  background-color: #A3BE8C
}
#mover-cima, #mover-baixo {
  background-color: #B48EAD
}