@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* margin-left: 100%;
  margin-right: 100%; */
  background-color: #2e3440;
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  margin-top: 30px;
  padding-top: 15px;
  font-size: 40px;
  color: #88c0d0;
}

p {
  margin-top: 20px;
  color: #8fbcbb;
}

#conteiner {
  width: 80vw;
  max-width: 700px;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #3b4252;
  box-shadow: 0 5px 5px 5px rgba(15, 15, 15, 0.065);
  position: relative;
  border-radius: 10px;
}

#lista-content {
  min-height: 60vh;
  max-height: 60vh;
  background-color: #eceff4;
  overflow: auto; /* scroll bar na lista se for maior que o limite */
  overflow-wrap: break-word; /* Quebra linha se ficar muito grande https://css-tricks.com/almanac/properties/o/overflow-wrap/ */
  margin-top: 15px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.065);
}

li {
  text-align: left;
  padding: 0 10px;
  list-style-position: inside;
  background-color: #e5e9f0;
  font-size: 20px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  color: #2e3440;
}

li:nth-child(2n + 1) {
  background-color: #d8dee9;
}

input {
  display: inline-block;
  background-color: #eceff4;
  width: 70%;
  padding: 7px 15px;
  box-sizing: border-box;
  border: none;
  color: #4c566a;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
}

input[type='text']:focus {
  background-color: #d8dee9;
  outline: none; /* borda ao clicar */
}

#criar-tarefa {
  display: inline-block;
  padding: 7px 15px;
  border: none;
  margin-left: -10px;
  margin-top: 10px;
  font-size: 16.5px;
  color: #2e3440;
  border-radius:0 20px 20px 0;
}

#buttons-content button {
  display: inline-block;
  border: none;
  color: #2e3440;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 16px 0px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.7);
}

#criar-tarefa {
  background-color: #5e81ac;
}
#apaga-tudo {
  background-color: #bf616a;
}
#remover-finalizados {
  background-color: #d08770;
}
#remover-selecionado {
  background-color: #ebcb8b;
}
#salvar-tarefas {
  background-color: #a3be8c;
}
#mover-cima,
#mover-baixo {
  background-color: #b48ead;
}